*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #F5F5F5;
}

/* navbar and logo */
#navigate{
    display: flex;
    margin: 15px 80px;
    align-items: center;
    justify-content: space-between;
}

#tech img{
    width: 70px;
    height: 70px;
}

#bar{
    display: inline;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

#bar div{
    background-color: rgba(119, 159, 229, 1);
    font-size: 40px;
    margin: 5px;
    height: 3px;
    width: 25px;
    line-height: 15px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease;
}

#option{
    padding: 0 10px;
    display: flex;
    margin: 10px;
    width: 50vw;
    cursor: pointer;
}

#option ul{
    list-style-type: none;
    margin: 10px 0 0 0;
}

#option ul li{
    display:inline; 
    padding: 0 0 0 15px;
    
}

#option ul li a{
    color:#212529;
    text-decoration: none;
    text-transform: capitalize;
}

#option a:hover{
    color:rgba(50, 76, 214, 1);
}

#button{
    background-color: rgba(50, 76, 214, 1);
    color: #f8f9fa;
    font-size: 20px;
    padding: 10px 30px;
    margin: 0 0 0 20px;
    border: none;
    text-transform: capitalize;
    border-radius: 20px;
    cursor: pointer;
}

#button:hover{
    background-color: rgba(104, 225, 253, 1);
    color: rgba(255, 188, 14, 1);
}

/* body and content */
#main{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#context{
    margin: 0 20px 0 0 ;
    padding: 0 50px 0 0 ;
}

h2{
    font-weight: 700;
    font-size: 45px;
    color: rgba(27, 39, 104, 1);
    padding: 30px;
    margin-bottom: 20px;
}

p{
    font-size: 25px;
    font-weight: 400;
    color: rgba(27, 39, 104, 1);
    padding: 20px 30px;
    margin-bottom: 40px;
    text-align: left;
}

#context button{
  margin: 50px 30px;
  padding:15px 150px;
  background-color: rgba(50, 76, 214, 1);
  color: #f8f9fa;
  font-size: 20px;
  border: none;
  text-transform: capitalize;
  border-radius: 150px;
  cursor: pointer;

}
#context button:hover{
    background-color:rgba(104, 225, 253, 1) ;
    color:rgba(255, 188, 14, 1) ;
}

#image{
    margin: 0 50px 50px 30px;
}

#image img{
    height:500px;
    width: 485px;
}

/* nav and menu responsiveness */


@media(max-width:600px) {
    body{
        overflow-x: hidden;
    }

    #option{
        position: absolute;
        display: flex;
        right: 0px;
        height: 50vh;
        width: 90vw;
        top: 10vh;
        flex-direction: column;
        align-items: stretch;
        transition: transform 0.5s ease-in;
        
    }

    
    #option ul{
        display: inline-grid;    
    }

    #option ul li{
        padding: 20px 100px;
    }

    #option li{
        opacity: 0;
        background-color: #F5F5F5;
        transform: translateX(100%);
    }

    #option a{
        padding: 15px 30px;
    }

    #button{
        margin: 0 30px 0 20px;
    }

    #navigate{
        margin: 20px 50px 0 30px;
    }

    #bar {
        margin:0 0 0 40px ;
    }

    #bar div{
        display: block;
    }

   
    #image{
        margin: 0 20px 50px 70px;
    }

    #image img{
        width: 350px;
    }
    
    #main{
        flex-direction: column-reverse;
    }

    #context {
        margin: 0 20px;
        padding: 0 10px;
    }

    h2{
        text-align: center;
        padding: 0 0 10px 0;
    }

    p{
        text-align: center;
    }

    #context button{
        margin: 10px 0 30px 30%;
    }
}

@media(min-width:375px){
    /* #main{
        flex-direction: column-reverse;
    } */

    #context button{
        padding: 15px 80px;
    }
}


.optionactive{
    transform:translateX(0%);
}

/* toggle and animation */
@keyframes newIcon{
    from{
       opacity: 0;
       transform: translateX(50px);
    }
    to{
       opacity: 1;
       transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}





