*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url(../asset/unsplash.jpg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 50px 30% ;
}

#heading{
    color: #6610f2;
}
#page{
    padding: 10px 30px;
}